body {
  background-color: #0d0d11;
  font-family: "Poppins";
  font-weight: 300;
  color: #9c9c9c;
}
li a{
  text-decoration: none;
}

/* ---------------- */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* ---------------- */
[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* ---------------- */
.page {
  flex: 1 1 auto;
}
.page__main {

}
.page__services {

}

/* ---------------- */
.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  background: #3d96f4;
  border-radius: 50px;
  color: #fff;
  font-style: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease 0s;
  line-height: 1.43;
}
.button:hover {
  background-color: #68a9f0;
}
.button_dark {
  background: rgba(129, 129, 139, 0.2);
}
.button_dark:hover {
  background: rgba(129, 129, 139, 1);
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 767.98px) {
  .button {
    padding: 10px 15px;
    letter-spacing: 1px;
    font-size: 13px;
  }
}
/* ============================= */
/* !HEADER */
/* ============================= */
.header {

}
.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  position: relative;
  z-index: 2;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  flex: 1 1 auto;
}
.header-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header-main__body .header-main__text {
  margin: 0;
}
.header-main__body .header-main__button {
  align-self: flex-end;
  flex: 0 0 auto;
}
.header-main__button {
  align-self: flex-end;
}
.menu {}
.menu__icon {}
.header__button {
  flex: 0 0 auto;
}
.icon-menu {
  display: none;
}
.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 5;
}

@media (max-width: 991.98px) {
  .header__container,
  .menu__list {
    column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 15px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    padding: 100px 15px 30px 15px;
  }
  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-style: 32px;
  }
  .header__container {
    min-height: 70px;
  }
}

@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 3px;
  justify-content: flex-end;
  list-style: none;
}
.menu__item {
}
.menu__link {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1.62;
}
.menu__link:hover {
  text-decoration: underline;
}
.header__cart {

}
.cart-header {
  display: flex;
  gap: 5PX;
  align-items: center;
  color: #fff;
}
.cart-header:hover .cart-header__text {
  text-decoration: underline;
}
.cart-header__text {
  font-style: 18px;
  line-height: 1.55;
}
.cart-header__quantity {
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 14px;
  font-weight: 500;
}


/* ============================= */
/* !MAIN */
/* ============================= */
.main {
  padding-top: 160px;
}
.main__container {
  display: flex;
  gap: 32px;
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
.header-main__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19;
  color: #fff;
  max-width: 505px;
  position: relative;
}
.header-main__label {
  display: inline-block;
  border-radius: 12px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9C9C9C;
  padding: 11px 18px;
  transition: border 0.3s ease 0s;
}
.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}
.header-main__label:not(:last-child) {
  margin-bottom: 19px;
}
.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}
.header-main__title::before {
  content: "";
  position: absolute;
  background: url("../img/decor.svg") 0 0 / 100% no-repeat;
  top: -10px;
  left: -34px;
  width: 122px;
  height: 122px;
}
.header-main__text {
  max-width: 500px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;  
  color: #9C9C9C;
  padding-bottom: 33px;
}
.main__actions {
  display: flex;
  gap: 32px;
}
.main__button {}
.header-main__list li:not(:last-child) {
  margin-bottom: 16px;
}
.header-main__list li {
  position: relative;
  min-height: 32px;
  padding-left: 40px;
  color: #9C9C9C;
  line-height: 1.5;
  padding-top: 4px;
}
.header-main__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url("../img/why/li.svg") center no-repeat;
}
.main__images {
  flex: 0 1 50%;
}
.images-main {
  display: flex;
  gap: 9.6%;
  justify-content: center;
  padding-bottom: 190px;
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  
}
.images-main__item img {
  min-width: 100%;
}

@media (max-width: 991.98px) {
  .main {
      padding-top: 120px;
    }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
  }
  .main__container {
    flex-direction: column;
  }
  .main__content {
    align-items: stretch;
  }

}



/* ============================= */
/* !CLIENTS */
/* ============================= */
.page__clients {}
.clients {
  padding-top: 20px;
  padding-bottom: 70px;
}
.clients__container {}
.clients__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 160px;
}
.clients__item {}

@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
  }
}

@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
  }

  .main__container {
    flex-direction: column;
  }

  .main__content {
    align-items: stretch;
  }

}


/* ============================= */
/* !SERVICES */
/* ============================= */
.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
.services__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}
.services__content {
  /* flex: 0 1 50%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__header {
}
.services_items {
  flex: 0 1 50%;
  display: flex;
  gap: 32px;
  justify-content: center;
}
.services__column {

}
.services__column:first-child {
  padding-top: 48px;
}
.services__item {}
.services__item:last-child {
  margin-bottom: 32px;
}
.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  display: block;
  margin-bottom: 32px;
}
.item-service__icon {}
.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.42;
  color: #FFFFFF;
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}
.item-service__text {
  font-size: 16px;
  line-height: 24px;
  color: #81818B;
}

@media (max-width: 1100px){
  .services__container {
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }


  .services__container {
    flex-direction: column;
  }

  .services__content {
    align-items: stretch;
  }

}
@media (max-width: 620px) {
  .services__item {
    flex-direction: column;
  }
}

/* ============================= */
/* !WHY CHOOSE */
/* ============================= */
.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
.why__container {
  display: flex;
  gap: 62px;
}
.why__images {
  flex: 0 1 50%;
}
.images-why {
  display: flex;

}
.images-why__item {}
.images-why__item1 {
  align-self: flex-end;
}
.images-why__item2 {
  align-self: flex-end;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.why__header {}

@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main__container {
    flex-direction: column;
  }

  .why__container {
    flex-direction: column-reverse;
  }

}

/* ============================= */
/* !ADVANTAGES */
/* ============================= */
.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
.advantages__container {
  display: flex;
  row-gap: 32px;
}
.advantages__items {
  flex: 1 1 auto;
  padding-right: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.advantages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.advantages__value {
  font-size: 51px;
  font-weight: 500;
  color: #fff;
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.advantages__text {
  font-style: 18px;
  line-height: 1.5;
}
.advantages__image {
  align-self: flex-end;
}

@media (max-width: 991.98px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__items {
    padding-right: 0;
  }
  .advantages__container {
    flex-direction: column;
  }
  .advantages__image {
    align-self: center;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 650px) {
  .advantages__image {
    grid-template-columns: auto;
  }
}

/* ============================= */
/* !TESTIMONIALS */
/* ============================= */
.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials__container {}
.testimonials__header {
  margin-bottom: 64px;
}
.testimonials__header .header-main__title {
  min-width: none;
}
.testimonials__header .header-main__text {
  max-width: 740px;
}
.header-main {}
.header-main__label {}
.header__main-title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19;
  color: #FFFFFF;
}
.header-main__text {
  font-size: 18px;
  line-height: 1.5;
  color: #9C9C9C;
}
.header-main__actions {}
.header-main__button {}
.button {}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.testimonials__item {
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.item-testimonials {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.item-testimonials__user {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-testimonials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-testimonials__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}
.user-testimonials__body {}
.user-testimonials__title {
  line-height: 1.5;
  color: #fff;
}
.user-testimonials__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimonials__company {
  font-size: 14px;
  line-height: 1.57;
}
.item-testimonials__title {
  font-size: 32px;
  color: #fff;
  line-height: 1.4;
}
.user-testimonials__text {
  font-size: 16px;
  flex: 1 1 auto;
  line-height: 1.5;
}
.user-testimonials__rating {}

@media (max-width: 991.98px) {
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


/* ============================= */
/* !BLOG */
/* ============================= */
.blog {
  padding-top: 100px;
  padding-bottom: 200px;
}
.blog__container {

}
.blog__header {}
.header-main {}
.header-main__label {}
.header__main-title {}
.header-main__body {}
.header-main__text {}
.header-main__actions {}
.header-main__button {}
.button {}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.blog__item {
  max-width: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background: rgba(129, 129, 139, 0.1);
}
.item-blog {}
.blog__text-box {
  padding: 0 27px;
}
.blog__image img {
  border-radius: 30px 30px 0 0;
}
.blog__date {
  font-size: 16px;
  line-height: 24px;
  color: rgba(129, 129, 139, 0.9);
  padding-top: 36px;
  padding-bottom: 20px;
}
.blog__title {
  max-width: 330px;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.blog__text {
  max-width: 340px;
  font-size: 16px;
  line-height: 24px;
  color: #9C9C9C;
  padding-bottom: 20px;
}
.blog__read {
  font-size: 14px;
  line-height: 22px;
  color: #3D96F4;
  padding-bottom: 40px;
}

@media (max-width: 991.98px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .blog__header {
    margin-bottom: 40px;
  }
  .blog__items {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}



/* ============================= */
/* !START */
/* ============================= */
.page__start {
  margin-bottom: 100px;
}
.start__container {
  display: flex;
}
.start__body {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 52px 40px;
}
.start__column {
  flex: 0 1 50%;
  text-align: center;
}
.start__title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}
.start__title:not(:last-child) {
  margin-bottom: 16px;
}
.start__text {

}
.start__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 20px;
  justify-content: center;
}
.start__button {}

@media (max-width: 991.98px) {
  .start__body {
    flex-direction: column;
    row-gap: 30px;
    align-items: stretch;
  }
}
@media (max-width: 767.98px) {
  .start__title {
    font-size: 24px;
  }
}
@media (max-width: 479.98px) {
  .start__body {
    flex-direction: column;
  }
}



/* ============================= */
/* !FOOTER */
/* ============================= */
.footer {

}
.footer__main {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media (max-width: 991.98px) {
  .footer__main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
    .footer__main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.main-footer {}
.main-footer__container {
  display: grid;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
  gap: 64px;
}
@media (max-width: 1100px) {
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
  .main-footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
@media (max-width: 767.98px) {
  .main-footer__container {
    gap: 35px;
    grid-template-columns: auto auto;
  }
  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
  .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }
}
.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-footer__logo {}
.main-footer__text {}
.text {}
.main-footer__social {}
.social {
  display: flex;
  gap: 16px;
}
.social__link {
  flex: 0 0 36px;
  height: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease 0s;
}
.social__link:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.main-footer__label {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}
.main-footer__label:not(:last-child) {
  margin-bottom: 30px;
}
.main-footer__menu {}
.menu-footer {}
.menu-footer__list {
  display: grid;
  gap: 24px;
}
.menu-footer__item {}
.menu-footer__link {
  line-height: 1.4;
}
.menu-footer__link:hover {
  color: #fff;
}
.main-footer__subscribe {}
.subscribe {
  display: flex;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .subscribe {
    flex-direction: column;
  }
}
.subscribe__text {}
.subscribe__input {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 0px 30px;
  color: #fff;
  background-color: transparent;
}
.subscribe__input::placeholder {
  color: #999999;
}
.subscribe__button {}
.button {}
.footer__bottom {}
.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding-top: 45px;
  padding-bottom: 45px;
}
.bottom-footer__container {}
.bottom-footer_copy {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #9C9C9C;
}
@media (max-width: 767.98px) {
  .bottom-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


/* ============================= */